@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFF
}

header {
    background: #191e2b;
    background-image: linear-gradient(
270deg
, rgb(25, 30, 43) 0px, rgb(51, 59, 84) 52.08%, rgb(20, 24, 34) 100%), initial;
    height: 100px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    overflow: auto;
    align-items: center;
}

.container ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
}

nav a {
    padding: 10px;
}

nav a:hover{
   text-decoration: underline 2px solid #d2003c;
   color: #d2003c
}

header .dropdown-menu {
    display: none;
    position: absolute;
    background: #191e2b;
    background-image: linear-gradient(
270deg
, rgb(25, 30, 43) 0px, rgb(51, 59, 84) 52.08%, rgb(20, 24, 34) 100%), initial;
    min-width: 100px;
}

header .dropdown-menu-item {
    width: 100%;
}

.dropdown-menu-item li {
    padding: 10px 5px;
}

.dropdown-menu-item:hover  .dropdown-menu {
    display: block;
}

header a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

header img {
    max-height: 80px;
}

header ul {
    display: flex;
}

.hero-img .container {
    justify-content: center;
}

article {
    padding: 40px 0px;
    margin: 20px 0px;
}

.info-img img{
    max-width: 550px;
    height: 100%;
}

.last-win .container {
    flex-direction: column;
}

.last-win-info{
    flex-direction: row;
    display: flex;
    padding: 40px 0px;
    align-items: center;
}

.last-win-info .img img{
    max-width: 550px;
}

.last-win-info .info {
    padding: 20px;
}

main {
    overflow: auto;
}

footer, main{
    background: #12151e;
    background-image: radial-gradient(313.01px at 51.23% 0px, rgb(35, 41, 59) 0px, rgb(15, 17, 26) 100%), initial;
}

footer {
    padding: 40px 0px;
}