* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.green {
  color: green;
}
.red {
  color: red;
}
.blue {
  color: blue;
}

main {
  background-color: #f4f4f4;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 250px;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

button {
  width: 100px;
  height: 40px;
  background-color: #666666;
  color: white;
  border-radius: 2px;
  border: none;
}
button:hover {
  cursor: pointer;
  border: 2px solid #f6f6f6;
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

li {
  min-width: 150px;
}
